* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  background-image: url('img/fundo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  transition: background-image 0.5s ease-in-out;
}

#gameCanvas {
  background: transparent;
  border: none;
  box-shadow: none;
}